body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1e477a; /* Dark blue */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #12365f; /* Darker blue on hover */
}

.container {
    padding: 20px;
}

h2 {
    color: #1e477a; /* Dark blue */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Light gray */
}

label {
    display: block;
    margin-bottom: 10px;
  }

input[type="text"], input[type="password"], select {
    margin: auto;
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1e477a;
    width: 10%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: #12365f;
}